<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeTask</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form">
        <h1>Register</h1>
        
        <form action="" method='POST'>
            {% csrf_token %}
            <label for="fname">First Name:</label>
            <input type="text" placeholder="Enter your first name" name='fname'>
            <br>

            <label for="lname">Last Name:</label>
            <input type="text" placeholder="Enter your last name" name='lname'>
            <br>

            <label for="uname">Userame:</label>
            <input type="text" placeholder="Create a username" name='uname'>
            <br>

            <label for="email">Email:</label>
            <input type="text" placeholder="Enter your email address" name='email'>
            <br>

            <label for="pword">Password:</label>
            <input type="text" placeholder="Create a password" name='pword'>
            <br>

            <button type="submit">Submit</button>
            <p>Already have an account? <a href="{% url 'login-page' %}">Log In</a></p>
        </form>
    </div>
</body>
</html>